/locales
/pnacl
/swiftshader
credits.html
d3dcompiler_47.dll
debug.log
ffmpeg.dll
Game.exe
icudtl.dat
libEGL.dll
libGLESv2.dll
nacl_irt_x86_64.nexe
node.dll
notification_helper.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nw.dll
nwjc.exe
package.json
payload.exe
resources.pak
v8_context_snapshot.bin

www
!www/data
!www/fonts
!www/img